In [3]:
import pandas as pd

In [9]:
ab=pd.read_csv('pandas_docs/survey_results_public.csv')

### 1.SAARC members are there in the dataset

In [11]:
a=['Sri Lanka','Pakistan','Nepal','Maldives','India','Bhutan','Bangladesh','Afghanistan']

In [17]:
b=ab.loc[ab['Country'].isin(a),'Country']
b

7             India
9             India
14            India
33        Sri Lanka
41       Bangladesh
            ...
88834    Bangladesh
88852         India
88853         India
88864         India
88875      Pakistan
Name: Country, Length: 11257, dtype: object

In [41]:
b.unique()

array(['India', 'Sri Lanka', 'Bangladesh', 'Pakistan', 'Nepal',
       'Afghanistan', 'Maldives', 'Bhutan'], dtype=object)

### 2.OPEC 5 members in the dataset

In [21]:
c=['Saudi Arabia','Nigeria','United Arab Emarites','Iraq','Iran']

In [23]:
d=ab.loc[ab['Country'].isin(c),'Country']
d

161              Iran
203           Nigeria
346           Nigeria
363           Nigeria
443              Iran
             ...
88672            Iraq
88700    Saudi Arabia
88807         Nigeria
88823         Nigeria
88867         Nigeria
Name: Country, Length: 1397, dtype: object

In [25]:
d.unique()

array(['Iran', 'Nigeria', 'Saudi Arabia', 'Iraq'], dtype=object)

In [31]:

print( not 2 < 4)

False

In [33]:
print( not 2 < 4)

False

In [35]:
print(0 or 1)

1

In [39]:
i=0
while i < 20:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19